/* Small 510 */
@media screen and (min-width: 510px) and (max-width: 902px) {
    .dotBig {
        color: yellow;
    }
}

/* Medium 902 */
@media screen and (min-width: 902px) and (max-width: 1903px) {
    .dotBig {
        color: darkblue;
    }
}
/* Large 1094*/
@media screen and (min-width: 1094px) and (max-width: 1653px) {
    .dotBig {
        color: darkred;
    }
}
/* Extra Large (1654*/
@media screen and (width: 1654px) {
    .dotBig {
        color: darkmagenta;
    }
}
body {
    background-color: #F0F0F0;
    font-family: 'Anton', 'Abel', sans-serif;
}

#logo {
    height: 105px;
    width: 105px;
    display: flex;
    /*flex: left;*/
    /*flex-wrap: nowrap;*/
    /*flex-basis: auto;*/
    /*flex-direction: row;*/
}

/*style the navigation menu*/
.navbar {
    overflow: hidden;
    position: relative;
}

/*Hide the links inside the navigation menu (except for logo/home)*/
.navbar-nav {

}

.nav-item {
    color: #b7b6b3;
    display: flex;
    flex: left;
}

.heading {
    font: font-family: 'Anton', sans-serif;
}

.circle-with-text {
    border: white solid 5px;
    color: white;
}

.featuredProject {
    font: font-family: 'Abel', sans-serif;
}

.circle-with-letter {

}

.redcolor {
    background-color: #E6563B;
}

.orangecolor {
    background-color: #EB9D3A;
}

.greencolor {
    background-color: #7CB06C;
}

.tealcolor {
    background-color: #00ABA9;
}

.whitecolor {
    background-color: #F0F0F0;
}
.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}
.dotBig {

    height: 85px;
    width: 85px;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
}


